-
  const types = [
    {
      image: '@img/food1.jpg',
      content: 'fruite',
      link: 'https://en.wikipedia.org/wiki/Fruit',
    },
    {
      image: '@img/food2.jpg',
      content: 'vegetables',
      link: 'https://en.wikipedia.org/wiki/Vegetable',
    },
    {
      image: '@img/food3.jpg',
      content: 'grin',
      link: 'https://en.wikipedia.org/wiki/Grain',
    },
  ];

  const items = [
    {
      image: '@img/food-menu1.jpg',
      title: 'Food Menu Item 1',
      desc: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum porro deleniti.',
      price: '250',
    },
    {
      image: '@img/food-menu2.jpg',
      title: 'Food Menu Item 2',
      desc: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum porro deleniti.',
      price: '250',
    },
    {
      image: '@img/food-menu3.jpg',
      title: 'Food Menu Item 6',
      desc: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum porro deleniti.',
      price: '250',
    },
    {
      image: '@img/food-menu4.jpg',
      title: 'Food Menu Item 6',
      desc: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum porro deleniti.',
      price: '250',
    },
    {
      image: '@img/food-menu5.jpg',
      title: 'Food Menu Item 6',
      desc: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum porro deleniti.',
      price: '250',
    },
    {
      image: '@img/food-menu6.jpg',
      title: 'Food Menu Item 6',
      desc: 'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum porro deleniti.',
      price: '250',
    },
  ];

  const customers = [
    {
      image: '@img/female-photo1.jpg',
      name: 'Ross Lee',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis sed voluptate. Animi magnam, pariatur eaque.',
    },
    {
      image: '@img/restraunt2.jpg',
      name: 'Amelia Watson',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis sed voluptate. Animi magnam, pariatur eaque.',
    },
    {
      image: '@img/male-photo3.jpg',
      name: 'Ben Roy',
      text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perferendis sed voluptate. Animi magnam, pariatur eaque.',
    },
  ];
